Django==4.2.7
asgiref==3.11.0

django-admin-honeypot==1.1.0
django-allauth==0.61.1
django-crispy-forms==2.1
crispy-bootstrap5==0.7
django-extensions==3.2.3
django-modeltranslation==0.18.11
django-widget-tweaks==1.4.8

gunicorn==23.0.0
whitenoise==6.11.0

Pillow==10.1.0

openpyxl==3.1.2

reportlab==4.5.1
xhtml2pdf==0.2.17

arabic-reshaper==3.0.0
python-bidi==0.6.7

requests==2.32.4
python-decouple==3.8
python-dotenv==1.0.0

cryptography==46.0.3
pyHanko==0.32.0
pyhanko-certvalidator==0.29.0

lxml==6.0.2
svglib==1.6.0
rlPyCairo==0.4.0
pycairo==1.29.0

cssselect2==0.8.0
tinycss2==1.5.1
html5lib==1.1
webencodings==0.1.1